// ----------------Slider-----------------------

.clients-slider {
  padding-top: 75px;
  padding-bottom: 68px;
  margin: 0 auto;
  .slick-track {
    display: flex;
    align-items: center;
  }

  &__client {
    img {
      margin: 0 auto;
    }
  }
}

.arrows{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 60px;
}

.arrow {
  font-size: 16px;
  padding: 0;
  cursor: pointer;
  z-index: 3;
  outline: none;
  background: transparent;
  color: $color--lighter-gray;
}
