// -------------Works--------------------------

.works {
	&__list {
		display: flex;
		justify-content: space-between;
		max-width: 50%;
		margin: 0 auto 45px;
	}
	&__element {
		color: $color--light-gray;
		font-size: 14px;
		font-weight: 400;
		text-transform: capitalize;
		cursor: pointer;
		background-color: $color--white;;
	}
}
