/*
 * ----------------------------------------
 * COLORS
 *
 * Colors in variables.
 * We have 7 recurrent colors:
 * - regular blue
 * - dark blue
 * - navy blue
 * - orange
 * - grey
 * - black
 * - white
 */

 $color--gray: #7c848d;
 $color--white: #ffffff;
 $color--light-brown: #97735e;
 $color--lighter-brown: #96725d;
 $color--light-gray: #b5b4b3;
 $color--brown: #433228;
 $color--beige: #e1cdb3;
 $color--light-beige: #f5f1ef;
$color--lighter-gray: #b7b6b6;
